---
http_interactions:
- request:
    method: post
    uri: http://dev.vle.getsmarter.co.za/login/token.php?username=ryan.mes%40email.co.za&password=mypassword&service=phoenix_integration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"<p>Error: Database connection failed<\/p>\n<p>It is possible
        that the database is overloaded or otherwise not running properly.<\/p>\n<p>The
        site administrator should also check that the database details have been correctly
        specified in config.php<\/p>","stacktrace":null,"debuginfo":null,"errorcode":"dbconnectionfailed"}'
      effective_url: http://dev.vle.getsmarter.co.za/login/token.php?username=ryan.mes%40email.co.za&password=mypassword&service=phoenix_integration
  recorded_at: Tue, 07 Jul 2015 08:26:38 GMT
recorded_with: VCR 2.9.3
