---
http_interactions:
- request:
    method: post
    uri: http://dev.vle.getsmarter.co.za/webservice/rest/server.php?criteria%5B0%5D%5Bkey%5D=firstname&criteria%5B0%5D%5Bvalue%5D=Jon&moodlewsrestformat=json&wsfunction=core_user_get_users&wstoken=072556801bf07076fff6bff2a463b7c5
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"exception":"webservice_access_exception","errorcode":"accessexception","message":"Access
        control exception","debuginfo":"Access to the function core_user_get_users()
        is not allowed.\n                     There could be multiple reasons for
        this:\n                     1. The service linked to the user token does not
        contain the function.\n                     2. The service is user-restricted
        and the user is not listed.\n                     3. The service is IP-restricted
        and the user IP is not listed.\n                     4. The service is time-restricted
        and the time has expired.\n                     5. The token is time-restricted
        and the time has expired.\n                     6. The service requires a
        specific capability which the user does not have.\n                     7.
        The function is called with username\/password (no user token is sent)\n                     and
        none of the services has the function to allow the user.\n                     These
        settings can be found in Administration > Site administration\n                     >
        Plugins > Web services > External services and Manage tokens."}'
      effective_url: http://dev.vle.getsmarter.co.za/webservice/rest/server.php?criteria%5B0%5D%5Bkey%5D=firstname&criteria%5B0%5D%5Bvalue%5D=Jon&moodlewsrestformat=json&wsfunction=core_user_get_users&wstoken=072556801bf07076fff6bff2a463b7c5
  recorded_at: Wed, 01 Jul 2015 12:44:52 GMT
recorded_with: VCR 2.9.3
