---
http_interactions:
- request:
    method: post
    uri: http://dev.vle.getsmarter.co.za/login/token.php?username=invalidusername&password=mypassword&service=phoenix_integration
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Last-Modified:
      - Tue, 07 Jul 2015 09:06:32 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error":"The username was not found in the database","stacktrace":"*
        line 205 of \/login\/token.php: moodle_exception thrown\n","debuginfo":"\nError
        code: usernamenotfound","reproductionlink":"http:\/\/dev.vle.getsmarter.co.za\/"}'
      effective_url: http://dev.vle.getsmarter.co.za/login/token.php?username=invalidusername&password=mypassword&service=phoenix_integration
  recorded_at: Tue, 07 Jul 2015 09:06:32 GMT
recorded_with: VCR 2.9.3
